* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr 5%;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    border: 4px solid black;
    background-color: #99d9ea;
}

footer {
    grid-area: footer;
    border: 4px solid black;
    background-color: #ffaec9;
}

main {
    grid-area: main;
    border: 4px solid black;
}