section {
    background-color: #fff;
    text-align: center;
}

button {
    border: none;
    outline: none;
    color: #fff;
    padding: 8px 24px;
    border-radius: 6px;
    margin: 0px 1px;
}

#primary {
    background-color: #007bff;
}

#secondary {
    background-color: #6c757d;
}

#success {
    background-color: #28a745;
}

#info {
    background-color: #17a2b8;
}

#warning {
    background-color: #ffc107;
}

#danger {
    background-color: #dc3545;
}

#dark {
    background-color: #343a40;
}